# Ignorar módulos de Node.js
node_modules/
npm-debug.log*

# Ignorar dependencias de Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Ignorar configuraciones del entorno
.env

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar logs y archivos temporales
logs/
*.log
*.tmp

# Ignorar carpetas de compilación o empaquetado
dist/
build/

# Ignorar backups de editores
*.swp
*.swo
*.bak

# Ignorar IDEs
.vscode/
.idea/

# Ignorar otras carpetas irrelevantes
coverage/
